<div class="sidebar">
  <ul class="socialmedia">
    <li><a class="twitter" href="https://twitter.com/SandstormIO">Twitter</a>
    <li><a class="facebook" href="https://www.facebook.com/sandstorm.io" target="blank">Facebook</a>
    <li><a class="google" href="https://plus.google.com/+SandstormIo" target="_blank">Google</a>
    <li><a class="github" href="https://github.com/sandstorm-io/sandstorm" target="_blank">Github</a>
  </ul>

  <div class="more">
    <form id="signup" action="https://sandstorm.us7.list-manage.com/subscribe/post?u=1a036c5ea0fc3c215793748ed&amp;id=5d9399a0af" method="post">
      加入通讯录，获得第一手资讯<br>
      <input type="email" name="EMAIL" placeholder="电邮地址" required><input type="submit" value="提交">
    </form>
    <a href="/get">
      沙塔是一个基于Web的开源效率应用套件。
      <span class="signup" href="https://oasis.sandstorm.io">免费注册</span>
      或<br>
      <span class="selfhost" href="/install">自行部署</span>
    </a>

    <h3>热点文章</h3>
    <ul>
      <li><a href="/news/2014-07-21-open-source-web-apps-require-federated-hosting">Open Source Web Apps Aren't Viable; Let's Fix That</a></li>
      <li><a href="/news/2016-02-29-security-track-record">Sandstorm's security track record, and what it means for self-hosting</a></li>
      <li><a href="/news/2016-08-17-decentralization-is-about-diversity">Decentralization is about diversity</a></li>
      <li><a href="/news/2016-01-22-8-new-open-source-apps.html">8 New open source self-hostable apps</a></li>
      <li><a href="/news/2016-04-06-sandstorm-for-work">Sandstorm for Work Beta: LDAP, SAML, organization management</a></li>
      <li><a href="/news/2016-02-05-app-author-publicity-oasis">Free publicity for your indie web app, and free Oasis service for you</a></li>
      <li><a href="/news/2015-10-01-free-ssl-certificates.html">Free, automated SSL certificates for Sandstorm self-hosters</a></li>
      <li><a href="/news/2014-08-19-why-not-run-docker-apps.html">Why doesn't Sandstorm just run Docker apps?</a></li>
      <li><a href="/news/2015-05-05-delegation-is-the-cornerstone-of-civilization.html">Understand the Sandstorm sharing model</a></li>
    </ul>

    <h3>深入了解</h3>
      <ul>
        <li><a href="/how-it-works"><strong>沙塔</strong>工作原理</a></li>
        <li><a href="http://docs.sandstorm.io"><strong>沙塔</strong>说明文档</a></li>
        <li><a href="/install">如何安装<strong>沙塔</strong></a></li>
      </ul>
  </div>
</div>
